$primary-purple   = #341A41
$primary   = #231F20
$secondary = #e5d6b5 //229, 214, 181
$tertiary  = #9400D3

$neutral   = #D9C39C
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$ass-yellow = #D9C39C //116,101,122
$ass-app-bg-purple = #74657a
$ass-app-bg = #BABABA
$ass-app-bg-xd = #EAEAEA
$ass-gold = #AD974F

$chara-header-height = 140px
$blue = #429ef4
$byakko-black = #212121
$suzaku-red = #d04444 // 208, 68, 68
$seiryuu-pink = #c84cb9 // 200 76 185
$genbu-purple = #8647a3 // 134, 71, 163
$panopticon-grey = #9b9b9b

@import '~quasar-variables'
